/*全局设置*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F7F7F7;
}

.bg_white{
    background: #FFFFFF;
}


.rounded{
    width: 240px ;
    height: 160px;
}

.my_small{
    font-size: 14px;
    color: #888888;
}

a:hover{text-decoration: none}


/*header*/
.nav-width{
    font-size: 30px;
    color:#333;
}


.list a{
    font-size: 16px;
    color: #333;
}

/*图片样式*/
#show{
    width:100%;
    overflow: hidden;
    margin: 0 auto;
}

#show li{
    width: 20%;
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
}

#show i{
    overflow: hidden;
    display: block;
    height: 400px;
}

#show img{
    display: block;
    width: 100%;
    transition: all .5s;
}

#show h3{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    line-height: 1.9;
    color: #fff;
    background: rgba(0,0,0,0.5);
    transition:all 500ms linear;
    opacity:0.01;
}

#show li:hover h3{
    transform:scale(1.2) translateY(-10px);
    opacity: 1;
}



.test{
    max-width: 33.433333%;
}

#list li{
    display: inline;
}

#list ul li a{
    font-size: 16px;
}

/*主体右侧部分*/
.about{
    background: #FFF url(../img/banner.png) no-repeat top center;
    overflow: hidden;
}

.avatar { margin: 80px auto 20px;
          width: 100px;
}



/*pad*/
@media screen and (min-width:768px) and (max-width:991px){
    #show i{
        height: 260px;
    }

    #list ul li a{
        font-size: 12px;
    }

}

.bg{
    background-color: #333333;
    height: 59px;
    line-height:59px;
}

@media screen and (min-width:360px) and (max-width:767px){
    #show h3{
        display: none;
    }

    #show i{
        height: 131px;
    }

    .my_small {
        font-size: 10px;
        color: #888888;
    }
}